.cardNote {

  width: 150px;
  height: 150px;
  text-align: center;

  box-shadow:  4px 4px 8px 0px #0303039a;
  margin: auto;
}
.animated-true{
  transform: rotate(-12deg);
}
.animated-true:hover {
  animation: myRotate 4s 2;
}

.cardNote h2 {
  padding-top: 40px;
  font-size: 80px;
  font-weight: 800;

  font-family: 'Caveat', cursive;
  /* font-family: 'Water Brush', cursive; */
  /* font-family: 'Square Peg', cursive; */
}



@keyframes myRotate {
  0% {
    box-shadow:  4px 4px 4px 0px #0303039a;
    transform: rotate(-10deg);
  }

  25% {
    box-shadow:  3px 3px 6px 2px #0303038a;
    transform: rotate(-7deg);
  }

  75% {
    box-shadow:  3px 2px 8px 4px #0303035a;
    transform: rotate(-3deg);
  }

  100% {
    box-shadow:  4px 3px 6px 4px #0303033a;
    transform: rotate(0deg);
  }
}