.footer-content{
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: #808080;
}

.footer-item  {
    flex-grow: 1;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    color: white;
}
