button {
    background-color: var(--secondary-collor);
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    width: 50%;
    padding: 12px 0;
    align-self: center;
    margin-top: 6px;
}

button:hover {
    opacity: 50%;
}